<%= turbo_stream_from 'message' %>
<div>
  <div id="message-display">
    <%= render @messages %>
  </div>
  <div id="message-form">
    <%= form_with model: @message, local: false do |form| %>
      <div class="field has-addons">
        <div class="control">
          <%= form.text_field :body, id: 'message-input', class: 'input' %>
        </div>
        <div class="control">
          <%= form.submit 'Send Message', class: 'button is-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
